*
{
    margin: 0px;
    padding: 0px;
    font-family: 'League Spartan', sans-serif;
    list-style:none;
}


body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

header, footer
{
    height: 14%;
    width: 84%;
}

header
{
    display: flex;
}

.name-section
{
    flex: 1;
    display: flex;
    align-items:flex-end;
    justify-content:left;
    font-size:x-large;
}

.wrapper
{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: end;
}

.nav-menu>ul
{
    display: flex;
    list-style: none;
    font-size: xx-large;
    gap: 30px;
}
.welc-opt, .skill-opt, .proj-opt, .exp-opt
{
    text-align: center;
    padding-bottom: 12px;
}
li:hover
{
    cursor: pointer;
}

.slide-pointer
{
    width: 112.7px;
    height: 3px;
    background-color: white;
    transition: ease-out 0.4s;
}

.section-container 
{
    width: 84%;
    height: 72%;
    position: relative;
    overflow: hidden;
}
.section
{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s;

    display: flex;
    flex-direction: column;
}

.section-title
{
    flex: 1;
    padding-left: 40px;
    display: flex;
    align-items: flex-end;
}

h1
{
    border-bottom: white solid 4px;
    padding-bottom: 10px;
}


.prev
{
    width: 50px;
    height: auto;
    transition: 0.5s;
    position: absolute;
    top: 50%;
    left: 4%;
}

.prev:hover, .next:hover
{
    transform: scale(1.2);
    fill: green;
    cursor: pointer;
}
.next
{
    width: 50px;
    height: auto;
    transition: 0.5s;
    position: absolute;
    top: 50%;
    right: 4%;
}

.section
{
    box-sizing: border-box;

    display: flex;
}

.welcome-wrapper
{
    padding: 3%;

    display: flex;
    flex-direction: column;
    gap: 20px;

}
.statement1
{
    font-size: 100px;
    font-weight: 700;
}
.statement2
{
    color: gray;
    padding-top: 30px;
    font-size: 60px;
    font-weight: 700;
    display: flex;
    gap: 20px;
}
.statement3
{
    padding-top: 30px;
    font-size: 80px;
    font-weight: 700;
    color: palegoldenrod;
}

.vert-slide
{
    height: 60px;
    overflow: hidden;
}

.vert-slide-1, .vert-slide-2, .vert-slide-3, .vert-slide-4
{
    height: 60px;
}
.vert-slide-1
{
    animation: slide 10s ease-in-out infinite;
}

@keyframes slide 
{
    0% {margin-top: -240px;}
    5% {margin-top: -180px;}
    25% {margin-top: -180px;}
    30% {margin-top: -120px;}
    50% {margin-top: -120px;}
    55% {margin-top: -60px;}
    75% {margin-top: -60px;}
    80% {margin-top: 0px;}
    100% {margin-top: 0px;}
}

/*----------------------------------------------------------SKILLS--------------------------------*/

.skills.section
{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    gap: 40px;
}

.skills .sect1
{
    flex: 2;
    display: inline-flex;
    flex-wrap: wrap;
}
.skills .sect2
{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}




.skill-wrapper
{
    flex: 1;
    display: flex;
    min-width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-wrapper h2
{
    margin-bottom: 20px;
}


.skill-bar
{
    width: 80%;
}

.bar-bg
{
    background: #313639;
    display: flex;
    height: 20px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.bar-level
{
    height: 20px;
    float: left;
}
.skill-level-pointers
{
    width: 80%;
    display: flex;
}

.skill-level-pointers span:first-child
{
    flex: 1;
    border-left: #313639 solid 2px;
    height: 15px;
    box-sizing: border-box;
}

.skill-level-pointers span:last-child
{
    flex: 1;
    border-left: 2px #313639 solid;
    border-right: 2px #313639 solid;
}

.skill-level-labels
{
    margin-top: 5px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: #505050;
    font-weight: 500;
}

.js-bar-bg
{
    border: #F0DB4F solid 2px;

}
.js-bar-level
{
    background-color: #F0DB4F;
    width: 75%;
    animation: js-bar-level 3s;
}

.css-bar-bg
{
    border: #2965f1 solid 2px;

}
.css-bar-level
{
    background-color: #2965f1;
    width: 75%;
    animation: js-bar-level 3s;
}

.html-bar-bg
{
    border: #f06529 solid 2px;

}
.html-bar-level
{
    background-color: #f06529;
    width: 75%;
    animation: js-bar-level 3s;
}

.jq-bar-bg
{
    border: #78cff5 solid 2px;

}
.jq-bar-level
{
    background-color: #78cff5;
    width: 75%;
    animation: js-bar-level 3s;
}

.wp-bar-bg
{
    border: #21759b  solid 2px;

}
.wp-bar-level
{
    background-color: #21759b ;
    width: 75%;
    animation: js-bar-level 3s;
}

.pi-bar-bg
{
    border:  #31A8FF solid 2px;

}
.pi-bar-level
{
    background-color:  #31A8FF;
    width: 75%;
    animation: js-bar-level 3s;
}

@keyframes js-bar-level
{
    0%      {width: 0%;}
    100%    {width: 75%;}
}

.skills .sect2 .title
{
    margin-left: -20px;
    font-size: 40px;
}

.skills .sect2 .exp-li
{
    font-size: 60px;
    color: black;
    transition: 2s;
}

.skills .sect2 .exp-li.lit
{
    font-size: 60px;
    color: white;
}