*
{
    margin: 0px;
    padding: 0px;
    font-family: 'League Spartan', sans-serif;
}


body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

header, footer
{
    height: 14%;
    width: 84%;
}

header
{
    display: flex;
}

.name-section
{
    flex: 1;
    display: flex;
    align-items:flex-end;
    justify-content:left;
    font-size:x-large;
}

.wrapper
{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: end;
}

.nav-menu>ul
{
    display: flex;
    list-style: none;
    font-size: xx-large;
    gap: 30px;
}
.welc-opt, .skill-opt, .proj-opt, .exp-opt
{
    text-align: center;
    padding-bottom: 12px;
}
li:hover
{
    cursor: pointer;
}

.slide-pointer
{
    width: 112.7px;
    height: 3px;
    background-color: white;
    transition: ease-out 0.4s;
}



.section-container 
{
    width: 84%;
    height: 72%;
    position: relative;
    overflow: hidden;
}
.section
{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s;

    display: flex;
    flex-direction: column;
}

.section-title
{
    flex: 1;
    padding-left: 40px;
    display: flex;
    align-items: flex-end;
}

h1
{
    border-bottom: white solid 4px;
    padding-bottom: 10px;
}

.content
{
    flex: 6;

}

.prev
{
    width: 50px;
    height: auto;
    transition: 0.5s;
    position: absolute;
    top: 50%;
    left: 4%;
}

.prev:hover, .next:hover
{
    transform: scale(1.2);
    fill: green;
    cursor: pointer;
}
.next
{
    width: 50px;
    height: auto;
    transition: 0.5s;
    position: absolute;
    top: 50%;
    right: 4%;
}

.section
{
    box-sizing: border-box;

    display: flex;
}


.welcome-wrapper
{
    padding: 3%;
    padding-top: 8%;

    display: flex;
    flex-direction: column;
    gap: 20px;

}
.statement1
{
    font-size: 100px;
    font-weight: 700;
}
.statement2
{
    color: gray;
    padding-top: 30px;
    font-size: 60px;
    font-weight: 700;
    display: flex;
    gap: 20px;
}
.statement3
{
    padding-top: 30px;
    font-size: 80px;
    font-weight: 700;
    color: palegoldenrod;
}

.vert-slide
{
    height: 60px;
    overflow: hidden;
}

.vert-slide-1, .vert-slide-2, .vert-slide-3, .vert-slide-4
{
    height: 60px;
}
.vert-slide-1
{
    animation: slide 10s ease-in-out infinite;
}

@keyframes slide 
{
    0% {margin-top: -240px;}
    5% {margin-top: -180px;}
    25% {margin-top: -180px;}
    30% {margin-top: -120px;}
    50% {margin-top: -120px;}
    55% {margin-top: -60px;}
    75% {margin-top: -60px;}
    80% {margin-top: 0px;}
    100% {margin-top: 0px;}
}



